main {
    width: 320px;
    height: auto;
    background-color: grey;
}

.button {
    width: 40px;
    height: 40px; 
    border: none;
    background-color: white;
    border-radius: 50%;    
}

.header {
    display: flex;
    justify-content: center;

}

.button_close-icon {
    background: url(/Users/travix/Desktop/EDUkate/KATA-Drops/практические_задания/1.1.3/images/close.svg) no-repeat;
}

.button_search-icon {
    background: url(/Users/travix/Desktop/EDUkate/KATA-Drops/практические_задания/1.1.3/images/search.svg) no-repeat;
}

.button_call-icon {
    background: url(/Users/travix/Desktop/EDUkate/KATA-Drops/практические_задания/1.1.3/images/call.svg) no-repeat;
}

.button_chat-icon {
    background: url(/Users/travix/Desktop/EDUkate/KATA-Drops/практические_задания/1.1.3/images/chat.svg) no-repeat;
}

.button_profile-icon {
    background: url(/Users/travix/Desktop/EDUkate/KATA-Drops/практические_задания/1.1.3/images/profile.svg) no-repeat;
}  

.list {
    list-style: none;
}