@font-face {
        font-family: "TTLakes";
        font-style: normal;
        font-weight: normal;
        src: url("/1.1.3/Font/TTLakes/TTLakes-ExtraLight.woff");
    }

@font-face {
        font-family: "TTLakes-bold";
        font-style: bold;
        font-weight: normal;
        src: url("/1.1.3/Font/TTLakes/TTLakes-ExtraBold.woff");
    }

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

main {
    font-family: TTLakes;
    width: 320px;
    height: 1024px;
    margin: 0;
    padding: 0;
    background-color: white;
    box-shadow: 0 0 20px 0px grey;
    position: sticky;
    overflow: scroll;
}

/*BUTTONS STYLE*/

.button {
    width: 40px;
    height: 40px; 
    border: none;
    background-color: white;
    border-radius: 50%;    
}

.button:hover {
    opacity: 0.7;  
}

.button_close-icon {
    background: url("/1.1.3/images/close.svg") no-repeat;
}

.button_search-icon {
    background: url("/1.1.3/images/search.svg") no-repeat;
}

.button_call-icon {
    background: url("/1.1.3/images/call.svg") no-repeat;
}

.button_chat-icon {
    background: url("/1.1.3/images/chat.svg") no-repeat;
}

.button_profile-icon {
    background: url("/1.1.3/images/profile.svg") no-repeat;
}  

.list {
    list-style: none;
}

/*HEADER*/

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.header__logo {
    margin-right: auto;
    margin-left: 15px;
}

/*MAIN LIST*/

.main {
    margin: 0;
    padding: 0;
}

.list {
    margin-left: 0;
    padding: 0;
    margin-bottom: 50px;
} 

.list__element {
    height: 32px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.list__element:hover {
     opacity: 0.6;
     transform: translateX(3px);
     transition-duration: 0.2s;
     
}

.highlight {
    height: 32px;
    width: 8px;
    border-right: 5px solid #41F6D7;
    border-radius: 30%;
    position: relative;
    top: -7px;
    left: -23px;
    font-size: 0;
    padding: -10px;
    margin-right: -5px;
    margin-bottom: -16px;
    display: none;
    
    
}

.list__element:hover .highlight {
    display: inline-block;
    transform: translateX(-3px);
    transition-duration: 0.2s;

}

/*FOOTER*/

.footer {
    margin-left: 10px;
    margin-top: 60%;
    margin-bottom: 20px;
}

.footer_mrgL-10 {
    margin-right: 10px;
}

.footer__mail {
    font-weight: 700;
}

.footer__number {
    font-family: "TTLakes-bold";
    font-weight: 900;
    font-size: 22px;
}

.footer__lang-change {
    border: none;
    background-color: white;  
    margin-top: 20px; 
    opacity: 0.7;  
}

.footer__lang-change:hover { 
    opacity: 0.4;  
}

.footer__lang-change_selected {
    opacity: 0.4;
}
