.block {
    width: 320px;
    height: 1024px;
    background-color: grey;
}

button {
    background-color: white;
    border: none;
}

header__close-button {
    background: url(/Users/travix/Desktop/EDUkate/KATA-Drops/практические задания/1.1.3/images/close.svg);
}